JWT_SECRET=your_super_secret_key_change_this
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Make.com Webhook for Telegram notifications
MAKE_WEBHOOK_URL=https://hook.eu1.make.com/hc37q6huxwanpkovgw5xdk4clw7dxsbp

# Analytics
VITE_GA_ID=
VITE_FB_PIXEL_ID=

# reCAPTCHA v3
VITE_RECAPTCHA_SITE_KEY=6LeqkJssAAAAAO5Icslio7icxjfTEaGkN63z-a1S
RECAPTCHA_SECRET_KEY=6LeqkJssAAAAAJ575FSz-18ikpkwsw_ysd6k5M3u
